extends layout

block content
	#h1 Login!
	#login(ng-controller="LoginController")
		form(id="loginForm", method="post", ng-submit="doLogin()" )
			.formField
				label(for="email") Email: 
				input(type="text", ng-model="email", name="email", id="userEmail")
			input(type="submit" value="login")
			