extends layout
block content
  #userPage(ng-controller="UserPage")
    h1= title
    h2 {{pageName}}
    p Email: {{email}}
      h3 Actions
      ul
        li
          a(href="/project/new") Create a new project
        li 
          a(href="/user/edit") Edit user info
        li 
          a(href="/user/delete") Delete {{name}}
        li
          a(href="/logout") Logout {{name}}