
body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.fullwidth {margin-left:-15px; margin-right:-15px;}
ul { margin:0; padding:0; }
li {list-style: none; }
a:visited, a:hover, a:active, a:focus  {text-decoration: none; }

@media (max-width: 768px) {
    .row{margin-left:-15px;}
    body {padding:0;}
    .circular_image img {
        width:60px;
        height:60px;
        -webkit-border-radius: 30px;
        -moz-border-radius: 30px;
        -ms-border-radius: 30px;
        -o-border-radius: 30px;
        border-radius: 30px;
    }
    /* Masthead */
    nav.container {
        background-color: #00af5e;
        color:white;
        padding-top:10px;
    }
    nav.container input{
        border:1px solid #2D7A5E;
        border-radius: 5px;
        color:#000;
        height:35px;
    }

    nav.container form {
        font-size: 2em;
    }

    nav form a {
        color:white;
    }

    nav form a:visited {
        color:white;
    }

    nav form a:active, nav form a:hover {
        color:#2D7A5E;
    }

    nav ul {
        background-color: slategray;
        color:#0480be;
    }

        .subnav {
            padding-top:10px;
            margin-top:10px;
        }

        .subnav li {
            text-align: center;
            font-size: 2em;
        }

        .subnav li a {
            color:white;
        }

        .subnav li a:active, .subnav li a:hover {
            color:#00af5e;
        }

        .subnav li {
            border-right:1px solid white;
        }

        .subnav li:last-child {
            border-right:none;
        }

    /* Members */
    .members {
    }
    .members li.user {
        border-bottom: 1px solid lightslategray;
        padding-top:10px;
        padding-bottom:10px;
    }

    .members .user div:first-child {
        padding:0;
    }
    .members .user div:first-child a {
        margin-bottom:0;
        height: 74px;
        width: 74px;
        display: block;
        padding: 1px;
    }

    .members .user > div:nth-child(2) {
        margin-top:60px;
    }

    .members .user img.clipCircle {
        clip-path: circle(245px, 140px, 50px);;
    }
    .members .user img.rectangle_image {
        top:-58px;
        clip: rect(44px 291px 184px 0px);
        position:absolute;
    }

    /* More info for Members */
    .members .userMore {
        font-weight: bold;
        text-align: left;
        margin:10px 0;
        padding:0;
    }
    .members .userMore > div > div:first-child{
        padding: 13px;
        font-size: 18px;
    }

    .members .userMore > div div:last-child{
        padding-top:15px;
    }
    .members .userMore > div {
        background-color:#F0F0F0;
        border-top:1px solid slateblue;
        border-bottom:1px solid slateblue;
        padding-left:10px;
    }
    .members .userMore > div div:last-child {
        color:#00af5e;
    }
}

@media (min-width: 992px) {
    .text-large {
        font-size:55px;
    }

    nav.container {
        background-color: #00af5e;
        color:white;
        padding-top:20px;
    }
    nav.container input{
        border:1px solid #2D7A5E;
        border-radius: 5px;
        color:#000;
        height:45px;
    }

    /* Masthead */
    nav.container {
        background-color: #00af5e;
        color:white;
        padding-top:10px;
    }
    nav.container input{
        border:1px solid #2D7A5E;
        border-radius: 5px;
        color:#000;
        height:35px;
    }

    nav.container form {
        font-size: 2em;
    }

    nav form a {
        color:white;
    }

    nav form a:visited {
        color:white;
    }

    nav form a:active, nav form a:hover {
        color:#2D7A5E;
    }

    nav ul {
        background-color: slategray;
        color:#0480be;
    }

    .subnav {
        padding-top:10px;
        margin-top:10px;
    }

    .subnav li {
        text-align: center;
        font-size: 2em;
    }

    .subnav li a {
        color:white;
    }

    .subnav li a:active, .subnav li a:hover {
        color:#00af5e;
    }

    .subnav li {
        border-right:1px solid white;
    }

    .subnav li:last-child {
        border-right:none;
    }

    /* Member User */
    .members .user > div:first-child a {
        border-radius: 86px;
        border: 11px solid slateblue;
        margin-bottom: 0;
        display: block;
        height: 175px;
        width: 175px;
        padding: 1px;
        position: relative;
        top:-5px;
    }
    .members .user > div a img.rectangle_image {
        width: 150px;
        height: 150px;
        -webkit-border-radius: 75px;
        -moz-border-radius: 75px;
        -ms-border-radius: 75px;
        -o-border-radius: 75px;
        border-radius: 75px;
        position:relative;
        top:0;
    }
    .members .user > div:nth-child(2) {
        margin:0 0 0 30px;
    }
}