
body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
@media (max-width: 767px) {
    ul { margin:0; padding:0; }
    li {list-style: none; }
    a:visited, a:hover, a:active, a:focus  {text-decoration: none; }
    .row{margin-left:-15px;}
    body {padding:0;}
    .circular_image img {
        width:60px;
        height:60px;
        -webkit-border-radius: 30px;
        -moz-border-radius: 30px;
        -ms-border-radius: 30px;
        -o-border-radius: 30px;
        border-radius: 30px;
    }
    /* Masthead */
    nav.container {
        background-color: #00af5e;
        color:white;
        padding-top:10px;
    }
    nav.container input{
        border:1px solid #2D7A5E;
        border-radius: 5px;
        color:#000;
        height:35px;
    }

    nav.container form {
        font-size: 2em;
    }

    nav form a {
        color:white;
    }

    nav form a:visited {
        color:white;
    }

    nav form a:active, nav form a:hover {
        color:#2D7A5E;
    }

    nav ul {
        background-color: slategray;
        color:#0480be;
    }

        .subnav {
            padding-top:10px;
            margin-top:10px;
        }

        .subnav li {
            text-align: center;
            font-size: 2em;
        }

        .subnav li a {
            color:white;
        }

        .subnav li a:active, .subnav li a:hover {
            color:#00af5e;
        }

        .subnav li {
            border-right:1px solid white;
        }

        .subnav li:last-child {
            border-right:none;
        }

    /* Members */
    .members {
    }
    .members li.user {
        border-bottom: 1px solid lightslategray;
        padding-top:10px;
        padding-bottom:10px;
    }

    .members .user div:first-child {
        padding:0;
    }
    .members .user div:first-child a {
        margin-bottom:0;
        border: 6px solid rgb(132, 155, 204);
        height: 74px;
        width: 74px;
        display: block;
        border-radius: 37px;
        padding: 1px;
    }

    .members .user img.clipCircle {
        clip-path: circle(245px, 140px, 50px);;
    }
}
